In [9]:
countries =['AF','AL','DZ','AS','AD','AO','AI','AQ','AG','AR','AM','AW','AU','AT','AZ','BS','BH','BD','BB','BY','BE','BZ','BJ','BM','BT','BO','BA','BW','BV','BR','IO','VG','BN','BG','BF','BI','KH','CM','CA','CV','KY','CF','TD','CL','CN','CX','CC','CO','KM','CD','CG','CK','CR','CI','CU','CY','CZ','DK','DJ','DM','DO','EC','EG','SV','GQ','ER','EE','ET','FO','FK','FJ','FI','FR','GF','PF','TF','GA','GM','GE','DE','GH','GI','GR','GL','GD','GP','GU','GT','GN','GW','GY','HT','HM','VA','HN','HK','HR','HU','IS','IN','ID','IR','IQ','IE','IL','IT','JE', 'JM','JP','JO','KZ','KE','KI','KP','KR','KW','KG','LA','LV','LB','LS','LR','LY','LI','LT','LU','MO','MK','MG','MW','MY','MV','ML','MT','MH','MQ','MR','MU','YT','MX','FM','MD','MC','MN','MS','MA','MZ','MM','NA','NR','NP','AN','NL','NC','NZ','NI','NE','NG','NU','NF','MP','NO','OM','PK','PW','PS','PA','PG','PY','PE','PH','PN','PL','PT','PR','QA','RE','RO','RU','RW','SH','KN','LC','PM','VC','WS','SM','ST','SA','SN','CS','SC','SL','SG','SK','SI','SB','SO','ZA','GS','ES','LK','SD','SR','SJ','SZ','SE','CH','SY','TW','TJ','TZ','TH','TL','TG','TK','TO','TT','TN','TR','TM','TC','TV','VI','UG','UA','AE','GB','UM','US','UY','UZ','VU','VE','VN','WF','EH','YE','ZM','ZW']

additional_countries = ['AA', 'CT', 'CW', 'DA', 'DH', 'DT', 'EN', 'EU', 'FU', 'FX', 'GG', 'HO', 'IM', 'JE', 'JI', 'KO', 'KU', 'LO', 'ME', 'ND', 'NS', 'OK', 'RF', 'RS', 'SP', 'SS', 'SU', 'UK', 'UN', 'UR', 'WO', 'WV', 'WW', 'XX', 'XY', 'YU', 'ZH', 'ZZ']

In [1]:
from shodan import Shodan
import time

In [2]:
api = Shodan('wULfHDJFLkQxvaecDLMQA4Ymusc5bEwm')

In [7]:
api.count('country:GG')['total']

8878

In [11]:
def count_host(country):
    time.sleep(1)
    return api.count('country:%s' % country)['total']

In [21]:
count_host('nl')

8703232

In [29]:
result = dict( zip(countries, list(map(count_host, countries))))

In [12]:
additional_result = dict( zip(additional_countries, list(map(count_host, additional_countries))))

In [35]:
result['NL']

8701126

In [33]:
result

{'AF': 27826,
 'AL': 132370,
 'DZ': 96965,
 'AS': 2241,
 'AD': 26023,
 'AO': 62340,
 'AI': 2568,
 'AQ': 117,
 'AG': 8216,
 'AR': 5065009,
 'AM': 88339,
 'AW': 12572,
 'AU': 4764688,
 'AT': 980220,
 'AZ': 99382,
 'BS': 21955,
 'BH': 37172,
 'BD': 361906,
 'BB': 15419,
 'BY': 175736,
 'BE': 889902,
 'BZ': 49712,
 'BJ': 6503,
 'BM': 17348,
 'BT': 5185,
 'BO': 234811,
 'BA': 175074,
 'BW': 20234,
 'BV': 22,
 'BR': 10806205,
 'IO': 205,
 'VG': 17555,
 'BN': 14091,
 'BG': 1116806,
 'BF': 7945,
 'BI': 2835,
 'KH': 195160,
 'CM': 25477,
 'CA': 7515181,
 'CV': 5305,
 'KY': 9065,
 'CF': 368,
 'TD': 2441,
 'CL': 1076506,
 'CN': 37080195,
 'CX': 0,
 'CC': 0,
 'CO': 2048084,
 'KM': 911,
 'CD': 9974,
 'CG': 5337,
 'CK': 1049,
 'CR': 203636,
 'CI': 41473,
 'CU': 13983,
 'CY': 177892,
 'CZ': 1391460,
 'DK': 711181,
 'DJ': 1971,
 'DM': 1706,
 'DO': 1038538,
 'EC': 614630,
 'EG': 733480,
 'SV': 153357,
 'GQ': 2833,
 'ER': 235,
 'EE': 290540,
 'ET': 5310,
 'FO': 13631,
 'FK': 1234,
 'FJ': 10183,
 'FI': 646919,
 'FR': 9291927,
 'GF': 9663,
 'PF': 12903,
 'TF': 7,
 'GA': 10733,
 'GM': 4469,
 'GE': 97769,
 'DE': 30615307,
 'GH': 34470,
 'GI': 8822,
 'GR': 892405,
 'GL': 13823,
 'GD': 7648,
 'GP': 37808,
 'GU': 67502,
 'GT': 117396,
 'GN': 3763,
 'GW': 440,
 'GY': 10116,
 'HT': 17213,
 'HM': 102,
 'VA': 769,
 'HN': 99698,
 'HK': 24187853,
 'HR': 253481,
 'HU': 905603,
 'IS': 97731,
 'IN': 4962323,
 'ID': 1925381,
 'IR': 1734194,
 'IQ': 116263,
 'IE': 2242752,
 'IL': 797926,
 'IT': 8257431,
 'JM': 49920,
 'JP': 10781116,
 'JO': 76354,
 'KZ': 990684,
 'KE': 112812,
 'KI': 601,
 'KP': 55,
 'KR': 18059665,
 'KW': 133040,
 'KG': 31586,
 'LA': 22383,
 'LV': 310173,
 'LB': 105442,
 'LS': 4860,
 'LR': 3168,
 'LY': 58611,
 'LI': 17063,
 'LT': 465846,
 'LU': 246708,
 'MO': 83966,
 'MK': 119632,
 'MG': 13955,
 'MW': 10943,
 'MY': 1237845,
 'MV': 17096,
 'ML': 18289,
 'MT': 81377,
 'MH': 3535,
 'MQ': 33995,
 'MR': 8363,
 'MU': 59630,
 'YT': 1575,
 'MX': 6204807,
 'FM': 3486,
 'MD': 282554,
 'MC': 37588,
 'MN': 34087,
 'MS': 339,
 'MA': 974107,
 'MZ': 31181,
 'MM': 13137,
 'NA': 61300,
 'NR': 198,
 'NP': 65500,
 'AN': 26578,
 'NL': 8701126,
 'NC': 63299,
 'NZ': 1235647,
 'NI': 96966,
 'NE': 4265,
 'NG': 205923,
 'NU': 39,
 'NF': 69,
 'MP': 1738,
 'NO': 845508,
 'OM': 130760,
 'PK': 642143,
 'PW': 551,
 'PS': 142996,
 'PA': 252844,
 'PG': 11893,
 'PY': 110751,
 'PE': 398420,
 'PH': 509800,
 'PN': 0,
 'PL': 6261246,
 'PT': 1774710,
 'PR': 135746,
 'QA': 68592,
 'RE': 34763,
 'RO': 2231116,
 'RU': 10740685,
 'RW': 9637,
 'SH': 23816,
 'KN': 7468,
 'LC': 3983,
 'PM': 427,
 'VC': 11149,
 'WS': 4413,
 'SM': 4607,
 'ST': 802,
 'SA': 1494734,
 'SN': 23698,
 'CS': 0,
 'SC': 146317,
 'SL': 1965,
 'SG': 2588906,
 'SK': 457541,
 'SI': 237824,
 'SB': 1337,
 'SO': 3856,
 'ZA': 3797165,
 'GS': 807,
 'ES': 5862812,
 'LK': 146437,
 'SD': 39111,
 'SR': 15927,
 'SJ': 214,
 'SZ': 13428,
 'SE': 1832515,
 'CH': 1555053,
 'SY': 41225,
 'TW': 5450659,
 'TJ': 9942,
 'TZ': 50481,
 'TH': 2796859,
 'TL': 4093,
 'TG': 6852,
 'TK': 30,
 'TO': 1221,
 'TT': 55548,
 'TN': 874406,
 'TR': 3829100,
 'TM': 1224,
 'TC': 2980,
 'TV': 118,
 'VI': 7237,
 'UG': 51600,
 'UA': 1962122,
 'AE': 755445,
 'GB': 19382310,
 'UM': 3,
 'US': 142859613,
 'UY': 405056,
 'UZ': 46560,
 'VU': 4852,
 'VE': 727372,
 'VN': 3265853,
 'WF': 1417,
 'EH': 13,
 'YE': 42476,
 'ZM': 23516,
 'ZW': 33503}

In [13]:
additional_result

{'AA': 0,
 'CT': 0,
 'CW': 0,
 'DA': 0,
 'DH': 0,
 'DT': 0,
 'EN': 0,
 'EU': 965581,
 'FU': 0,
 'FX': 8271,
 'GG': 8878,
 'HO': 0,
 'IM': 22851,
 'JE': 7431,
 'JI': 0,
 'KO': 0,
 'KU': 0,
 'LO': 0,
 'ME': 30439,
 'ND': 0,
 'NS': 0,
 'OK': 0,
 'RF': 0,
 'RS': 386154,
 'SP': 0,
 'SS': 4042,
 'SU': 0,
 'UK': 0,
 'UN': 0,
 'UR': 0,
 'WO': 0,
 'WV': 0,
 'WW': 0,
 'XX': 0,
 'XY': 0,
 'YU': 0,
 'ZH': 0,
 'ZZ': 0}

In [1]:
# Don't execute; just here for reference as to how the servers_per_country table was constructed
%%sql

CREATE TABLE servers_per_country (
  country_code CHAR(2),
  count INT
);

INSERT INTO servers_per_country(country_code, count) VALUES
('AF', 27826),
('AL', 132370),
('DZ', 96965),
('AS', 2241),
('AD', 26023),
('AO', 62340),
('AI', 2568),
('AQ', 117),
('AG', 8216),
('AR', 5065009),
('AM', 88339),
('AW', 12572),
('AU', 4764688),
('AT', 980220),
('AZ', 99382),
('BS', 21955),
('BH', 37172),
('BD', 361906),
('BB', 15419),
('BY', 175736),
('BE', 889902),
('BZ', 49712),
('BJ', 6503),
('BM', 17348),
('BT', 5185),
('BO', 234811),
('BA', 175074),
('BW', 20234),
('BV', 22),
('BR', 10806205),
('IO', 205),
('VG', 17555),
('BN', 14091),
('BG', 1116806),
('BF', 7945),
('BI', 2835),
('KH', 195160),
('CM', 25477),
('CA', 7515181),
('CV', 5305),
('KY', 9065),
('CF', 368),
('TD', 2441),
('CL', 1076506),
('CN', 37080195),
('CX', 0),
('CC', 0),
('CO', 2048084),
('KM', 911),
('CD', 9974),
('CG', 5337),
('CK', 1049),
('CR', 203636),
('CI', 41473),
('CU', 13983),
('CY', 177892),
('CZ', 1391460),
('DK', 711181),
('DJ', 1971),
('DM', 1706),
('DO', 1038538),
('EC', 614630),
('EG', 733480),
('SV', 153357),
('GQ', 2833),
('ER', 235),
('EE', 290540),
('ET', 5310),
('FO', 13631),
('FK', 1234),
('FJ', 10183),
('FI', 646919),
('FR', 9291927),
('GF', 9663),
('PF', 12903),
('TF', 7),
('GA', 10733),
('GM', 4469),
('GE', 97769),
('DE', 30615307),
('GH', 34470),
('GI', 8822),
('GR', 892405),
('GL', 13823),
('GD', 7648),
('GP', 37808),
('GU', 67502),
('GT', 117396),
('GN', 3763),
('GW', 440),
('GY', 10116),
('HT', 17213),
('HM', 102),
('VA', 769),
('HN', 99698),
('HK', 24187853),
('HR', 253481),
('HU', 905603),
('IS', 97731),
('IN', 4962323),
('ID', 1925381),
('IR', 1734194),
('IQ', 116263),
('IE', 2242752),
('IL', 797926),
('IT', 8257431),
('JM', 49920),
('JP', 10781116),
('JO', 76354),
('KZ', 990684),
('KE', 112812),
('KI', 601),
('KP', 55),
('KR', 18059665),
('KW', 133040),
('KG', 31586),
('LA', 22383),
('LV', 310173),
('LB', 105442),
('LS', 4860),
('LR', 3168),
('LY', 58611),
('LI', 17063),
('LT', 465846),
('LU', 246708),
('MO', 83966),
('MK', 119632),
('MG', 13955),
('MW', 10943),
('MY', 1237845),
('MV', 17096),
('ML', 18289),
('MT', 81377),
('MH', 3535),
('MQ', 33995),
('MR', 8363),
('MU', 59630),
('YT', 1575),
('MX', 6204807),
('FM', 3486),
('MD', 282554),
('MC', 37588),
('MN', 34087),
('MS', 339),
('MA', 974107),
('MZ', 31181),
('MM', 13137),
('NA', 61300),
('NR', 198),
('NP', 65500),
('AN', 26578),
('NL', 8701126),
('NC', 63299),
('NZ', 1235647),
('NI', 96966),
('NE', 4265),
('NG', 205923),
('NU', 39),
('NF', 69),
('MP', 1738),
('NO', 845508),
('OM', 130760),
('PK', 642143),
('PW', 551),
('PS', 142996),
('PA', 252844),
('PG', 11893),
('PY', 110751),
('PE', 398420),
('PH', 509800),
('PN', 0),
('PL', 6261246),
('PT', 1774710),
('PR', 135746),
('QA', 68592),
('RE', 34763),
('RO', 2231116),
('RU', 10740685),
('RW', 9637),
('SH', 23816),
('KN', 7468),
('LC', 3983),
('PM', 427),
('VC', 11149),
('WS', 4413),
('SM', 4607),
('ST', 802),
('SA', 1494734),
('SN', 23698),
('CS', 0),
('SC', 146317),
('SL', 1965),
('SG', 2588906),
('SK', 457541),
('SI', 237824),
('SB', 1337),
('SO', 3856),
('ZA', 3797165),
('GS', 807),
('ES', 5862812),
('LK', 146437),
('SD', 39111),
('SR', 15927),
('SJ', 214),
('SZ', 13428),
('SE', 1832515),
('CH', 1555053),
('SY', 41225),
('TW', 5450659),
('TJ', 9942),
('TZ', 50481),
('TH', 2796859),
('TL', 4093),
('TG', 6852),
('TK', 30),
('TO', 1221),
('TT', 55548),
('TN', 874406),
('TR', 3829100),
('TM', 1224),
('TC', 2980),
('TV', 118),
('VI', 7237),
('UG', 51600),
('UA', 1962122),
('AE', 755445),
('GB', 19382310),
('UM', 3),
('US', 142859613),
('UY', 405056),
('UZ', 46560),
('VU', 4852),
('VE', 727372),
('VN', 3265853),
('WF', 1417),
('EH', 13),
('YE', 42476),
('ZM', 23516),
('ZW', 33503),
# Additional countries that were listed in certificates; not all are valid
 ('AA', 0),
 ('CT', 0),
 ('CW', 0),
 ('DA', 0),
 ('DH', 0),
 ('DT', 0),
 ('EN', 0),
 ('EU', 965581),
 ('FU', 0),
 ('FX', 8271),
 ('GG', 8878),
 ('HO', 0),
 ('IM', 22851),
 ('JE', 7431),
 ('JI', 0),
 ('KO', 0),
 ('KU', 0),
 ('LO', 0),
 ('ME', 30439),
 ('ND', 0),
 ('NS', 0),
 ('OK', 0),
 ('RF', 0),
 ('RS', 386154),
 ('SP', 0),
 ('SS', 4042),
 ('SU', 0),
 ('UK', 0),
 ('UN', 0),
 ('UR', 0),
 ('WO', 0),
 ('WV', 0),
 ('WW', 0),
 ('XX', 0),
 ('XY', 0),
 ('YU', 0),
 ('ZH', 0),
 ('ZZ', 0);

In [ ]:
# Don't execute; just here for reference as to how the country_code_mapping table was constructed
%%sql

CREATE TABLE country_code_mapping(
  original_code CHAR(2),
  new_code CHAR(2)
);

INSERT INTO country_code_mapping(original_code, new_code) SELECT country_code, country_code from servers_per_country;
# Some servers are using certificates that use now-defunct, NATO style country codes; add special rules for those countries
# to convert them to ISO-3166 standard country codes.
INSERT INTO country_code_mapping(original_code, new_code) VALUES
('AA', 'AW'),
('CT', 'CF'),
('CW', 'CK'),
('DA', 'DK'),
('EN', 'EE'),
('FX', 'FR'),
('HO', 'HN'),
('KO', 'KR'),
('KU', 'KW'),
('LO', 'SK'),
('NS', 'SR'),
('SU', 'SD'),
('UK', 'GB'),
('UR', 'RU'),
('YU', 'RS');